.container {
  display: flex;
  gap: 10px;
}

.button {
  border: none;
  border-radius: 4px;
  background-color: orange;
  cursor: pointer;
}

.result {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
  row-gap: 30px;
}

.result-container {
  display: flex;
  flex-direction: column;
}

.input {
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 7px;
}

.input:focus {
  outline: none;
}

.errorStyle {
  color: red;
  font-size: 16px;
  margin-top: -30px
}